* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.strong {
    font-weight: bold;
}

#wind-dir, #arrow {
    display: inline-block;
}

#arrow{
    width: 19px;
    height: 19px;
    margin: 0 5px;
}

#arrow-img {
    max-width: 100%;
}