* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Bubbler One', sans-serif;
    font-size: 25px;
    text-align: center;
}

.hidden {
    display: none !important;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    background-image: url('assets/weather-img/clear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(82, 149, 236);
}

#loader > * {
    display: inline-block;
}

.cube {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-color: blue;
    animation-name: moving-cube;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes moving-cube {
    0%   {
        background-color: blue;
        transform: rotate(90deg);
    }
    25%  {
        background-color: red;
        transform: rotate(180deg);
    }
    50%  {
        background-color: yellow;
        transform: rotate(270deg);
    }
    75% {
        background-color: green;
        transform: rotate(360deg);
    }
    100%   {
        background-color: blue;
        transform: rotate(450deg);
    }
  }

h2 {
    font-size: 35px;
}

form {
    align-self: flex-end;
    display: grid;
    grid-template: auto auto / 250px 35px;
    gap: 0 15px;
    margin: 15px;
}

#error {
    grid-column: span 2;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(190, 62, 62);
}

#city {
    width: 250px;
    padding: 2px 5px;
    font-size: 18px;
    text-align: left;
    color: black;
    background-color: rgba(250, 250, 250, 0.3);
    border: none;
    border-bottom: 1px solid white;
}

#city:focus {
    outline: none;
}

input[type="submit"] {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 217, 255, 0.7);
    border: 1px solid rgba(0, 217, 255, 0.7);
    border-radius: 50%;
}

#info {
    display: grid;
    grid-template: 300px / 1fr 1fr;
    justify-content: center;
    justify-items: stretch;
    width: 90%;
    max-width: 750px;
    padding: 25px 0;
    border-radius: 15px;
    background-color: rgba(250, 250, 250, 0.6);
    box-shadow: 1px 1px 4px rgba(10, 10, 10, 0.2), -1px -1px 4px rgba(10, 10, 10, 0.2);
}

#left-info, #right-info {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

#right-info {
    border-left: 1px solid rgba(10, 10, 10, 0.5);
}

#coordinates {
    font-size: 20px;
    margin-top: 5px;
}

#weather-description {
    text-transform: uppercase;
    font-size: 35px;
}

#time {
    font-size: 45px;
}

#temperature {
    position: relative;
    width: 100%;
}

#degree {
   position: absolute;
   top: -4px;
   right: 0;
   margin-right: 15px;
   padding: 8px;
   font-size: 18px;
   background-color: rgba(0, 217, 255,0.5);
   border-radius: 5px;
   box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.3), -1px -1px 2px rgba(250, 250, 250, 0.3);
}

#degree:hover {
    cursor: default;
}

#wind {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#wind > * {
    margin: 0 5px;
}

#arrow{
    width: 15px;
    height: 15px;
    margin: 1px 5px;
}

#arrow-img {
    max-width: 100%;
}

@media (max-width: 720px) {
    * {
        font-size: 22px;
    }

    body {
        grid-template-rows: 100px 1fr;
    }
    
    #info {
        grid-template: 1fr 1fr / 1fr;
        padding: 5px 20px;
    }

    #left-info, #right-info {
        padding: 20px 0 !important;
    }

    #right-info {
        border-left: none !important;
        border-top: 1px solid rgba(10, 10, 10, 0.5);
    }

    #degree {
        margin-right: 0;
    }
}